.TextArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TextArea span {
    font-size: 24px;
    align-self: center;
    color: red;
}


.TextArea textarea {
    width: 50%;
    font-size: 1.4em;
    padding: 8px;
    border-top: 2px solid #808080;
    overflow-y: auto;
    background-color: white;
}