.TextArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.TextArea__question {
    margin-bottom: 10px;
}

.TextArea__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.TextArea textarea {
    width: 70%;
    font-size: 1.4em;
    padding: 8px;
    border-top: 2px solid #808080;
    overflow-y: auto;
    background-color: white;
}