.QuestionTemplate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.QuestionTemplate__manage-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuestionTemplate__manage-buttons button {
    margin: 5px;
    padding: 10px;
    height: 40px;
    min-width: 60px;
    border-radius: 5px;
}

.manage-button {
    margin: 5px;
    padding: 10px;
    height: 40px;
    min-width: 60px;
    border-radius: 5px;
}

.edit-manage-button {
    color: white;
    font-weight: bold;
    background-color: chocolate;
    border: 1px solid chocolate;
}

.edit-manage-button:hover {
    background-color: darkorange;
    box-shadow: 0 0 5px 1px #454545;
}
.save-manage-button {
    color: white;
    font-weight: bold;
    background-color: darkgreen;
    border: 1px solid darkgreen;
}

.save-manage-button:hover {
    background-color: forestgreen;
    box-shadow: 0 0 5px 1px #454545;
}

.manage-button-delete {
    color: white;
    font-weight: bold;
    background-color: firebrick;
    border: 1px solid firebrick;
}

.manage-button-delete:hover {
    background-color: crimson;
    box-shadow: 0 0 5px 1px #454545;
}