.CustomerFeedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.CustomerFeedback__questions {
    width: 100%;
    padding: 0 30%;
    overflow: auto;
    margin: 20px 0;
}

.CustomerFeedback__question {
    margin: 10px 0;
    border: 1px solid gray;
    box-shadow: 0 0 2px 1px grey;
    padding: 10px 20px;
}

.CustomerFeedback__send-button {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
}