.RatingInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.RatingInput__star-rating-component {
    width: 100%;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
