.Feedback {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Feedback__answer {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid grey;
}

.Feedback__default-rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.Feedback__default-comment {*/
    /*width: 100%;*/
    /*margin-bottom: 20px;*/
/*}*/

.Feedback__create-time {
    min-width: 100px;
    display: flex;
    align-items: center;
}

/*.Feedback__additional-rating {*/
    /*width: 100%;*/
    /*text-align: left;*/
/*}*/

/*.Feedback__additional-rating .StarAnswer {*/
    /*font-size: 2em;*/
/*}*/

/*.Feedback__additional-text-question {*/
    /*width: 100%;*/
    /*margin-bottom: 20px;*/
    /*text-align: left;*/
/*}*/

/*.Feedback__question {*/
    /*font-size: 1.3em;*/
    /*color: black;*/
/*}*/
