.Rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Rating__question-text {
    font-size: 1.5em;
}

.Rating__star-component {
    font-size: 3.5em;
}